<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1057164001270-g6upcn108j4t5jfiaa1kfki10epfthlh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1057164001270-g6upcn108j4t5jfiaa1kfki10epfthlh</string>
	<key>API_KEY</key>
	<string>AIzaSyBd0biqLg-mrS7pVxE3AHAQ9u2CbdkU7RA</string>
	<key>GCM_SENDER_ID</key>
	<string>1057164001270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.galleryApp</string>
	<key>PROJECT_ID</key>
	<string>galleryapp-bfd7c</string>
	<key>STORAGE_BUCKET</key>
	<string>galleryapp-bfd7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1057164001270:ios:e9042045ee85194ee851d7</string>
</dict>
</plist>